body {font-family: "Montserrat", sans-serif; background-color: #000; color: #fff; background-image: url('./images/vorhang.jpg'); background-size: cover; background-attachment: fixed; background-position: center top; background-repeat: no-repeat; min-height: 100vh}
footer {background-color: rgba(0,0,0,0.85); color: #fff}
footer a {color: #9fffa6}
.top-menu-button { position: absolute; top: 0; right: 0; z-index: 10;}
.top-menu-button i {color: #fff}
.spacer {height: 30vh; min-height: 120px}
.footer-link + .footer-link-sep {margin-left:12px}
.text-panel { background: #2b2b2b9d; padding: 10px 35px; border-radius: 8px; max-width:900px; margin: 0 auto; color: #ddd }
#mySidebar {background-color: #c01616 !important;}
#mySidebar .w3-button { background-color: #c01616 !important; color: #fff !important; }
#mySidebar .w3-bar-item { color: #f5e5e5 !important; }
#mySidebar .w3-bar-item:hover, #mySidebar .w3-bar-item:focus { background-color: #7a1010 !important; /* dunkles Rot beim Hover */ color: #ffffff !important; }
#mySidebar .w3-button:hover, #mySidebar .w3-button:focus { background-color: #7a1010 !important; color: #ffffff !important; }
img {margin-bottom: -7px}
.w3-row-padding img {margin-bottom: 12px}
@media (max-width:600px){.spacer{height:22vh}}